@media (max-width: 1400px){
    .main{
        &__leftbox{
            margin-left: 50px;
            padding-right: 50px;
        }
    }   
}

@media (max-width: 1260px){
    .header{
        &__search{
            margin-left: 10px;
        }
    }
    .main{
        &__leftbox{
            margin-left: 50px;
            padding-right: 50px;
        }
        &__content{
            &-text{
                max-width: 370px;
            }
        }
    }   
    
}
@media (max-width: 1200px){
    .header{
        &__menu{
        margin-left: 100px;
        }
    }
    .main{
        padding-left: 50px;
        &__img{
            min-height: 720px;
            max-width: 390px;   
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &__content{
            margin-left: 450px;
            &-prof{
                font-size: 19px;
            }
            &-name{
                margin-top: 15px;
                max-width: 300px;
                font-size: 48px;
            }
            &-text{
                margin-top: 35px;
                max-width: 400px;
                font-size: 13px;
            }
            &-rezume{
                margin-top: 70px;
                margin-bottom: 30px;
                height: 38px;
                width: 122px;
                border-radius: 4px;
                background-color: #3F9AB7;
                font-size: 13px;
                font-weight: 700;
                padding: 14px 0px;
                text-align: center;
                color: #fff;
            }
        }
        &__leftbox{
            margin-left: 85px;
        }
    }
    

    .footer{
        &__inner{
            padding-left: 500px;
        }
    }
    .bgbox{
        left: 100px;
    }

    .inf{
        margin-left: 450px;
    }

    .inf{
        &__minititle{
            font-size: 19px;
        }
        &__text{
            font-size: 15px;
        }
    }
}

@media (max-width: 1100px){
    .main{
        padding-left: 0px;
        &__content{
            margin-left: 440px;
        }
    }
    .header{
        &__menu{
            margin-left: 100px;
        }
    &__logo{
        margin-left: 20px;
        font-size: 26px;
        }    
    }
    .footer{
        &__inner{
            padding-left: 450px;
        }
    }
    .bgbox{
        left: 100px;
    }
    .portfolio{
       &__item{
           margin-right: 30px;
           &-img{
               height: 180px;
               width: 270px;
           }
       } 
    }

      

}

@media (max-width: 960px){
    .main{
        &__img{
            max-width: 300px;   
        }
        &__content{
            margin-left: 350px;
        }
    }
    .header{
        &__menu{
            margin-left: 50px;
        }
        &__search{
            margin-left: 10px;
        }
    }
    .bgbox{
        left: 100px;
    }
    
    .footer{
        &__inner{
            padding-left: 350px;
        }
    }

    .portfolio{
        &__item{
            margin-right: 30px;
            &-img{
                height: 160px;
                width: 240px;
            }
            &-text{
                max-width: 240px;
            }
        } 
    }
    .inf{
        margin-left: 350px;
        &__minititle{
            font-size: 18px;
        }
        &__text{
            font-size: 13px;
        }
        
    }

}


@media (max-width: 870px){
    .header{
        &__logo{
            display: none;
        }
        &__menu{
            padding-left: 0px;
            margin-right: auto;
        }
        &__search{
            display: none;
        }
    }

    .main{
        &__content{
            margin-left: 350px;
        }
        &__leftbox{
            margin-left: 5px;
        }
    }
    
    
    .portfolio{
        &__item{
            margin-right: 20px;
            &-img{
                height: 140px;
                width: 210px;
            }
            &-text{
                max-width: 210px;
            }
        } 
    }
    
    .contact{
        &__info{
            margin-right: auto;
            margin-left: 50px;
            padding-bottom: 30px;
            font-size: 16px;
        }
        &__messagebox{
            margin-right: auto;
            margin-left: 50px;
            font-size: 16px;
        }
        &__title{
            padding-top: 30px;
            font-size: 16px;
        }
    }
    
    .adress{
        padding-top: 10px;
    }
}

@media (max-width: 750px){
    .main{
        &__img{
            max-width: 200px;   
        }
        &__content{
            margin-left: 250px;
        }
    }
    .footer{
        &__inner{
            padding-left: 250px;
        }
    }
    .header__menu{
        margin-left: 10px;
    }

    .portfolio{
        &__item{
            margin-right: 20px;
            &-img{
                height: 120px;
                width: 180px;
            }
            &-text{
                max-width: 180px;
            }
        } 
    }

    .inf{
        margin-left: 250px;
        
    }
}


@media (max-width: 690px){
    .header{
        &__menu{
            li{
                a{
                    font-size: 16px;
                }
            }
            li+li{
                margin-left: 20px;
            }
        }
        
    }

    .main{
        &__content{
            margin-left: 200px;
            &-prof{
                font-size: 16px;    
            }
            &-name{
                font-size: 30px;
            }
        }
        &__img{
            max-width: 150px;
        }
    }
    .footer{
        &__inner{
            padding-left: 200px;
        }
    }

    .inf{
        margin-left: 180px;
        &__minititle{
            font-size: 18px;
        }
        &__text{
            font-size: 13px;
        }
    }
}



@media (max-width: 650px){
    .portfolio{
        &__item{
            margin-right: 20px;
            &-img{
                height: 80px;
                width: 120px;
            }
            &-text{
                max-width: 120px;
                font-size: 10px;
            }
            &-site{
                a{
                    font-size: 12px;
                }    
            }
        }
        &__buttons{
            button{
                font-size: 10px;
                margin-top: 10px;
            }
        }
    }

    .inf{
        margin-left: 50px;
        padding-top: 150px;
        
    }
    .main{
        padding-top: 20px;
        &__content{
            margin-left: 50px;
            margin-top: 160px;
        }
        &__leftbox{
            margin-left: 100px;
            margin-top: 160px;
            &-border{
                height: 160px;
            }
        }
    }
    .main__img {
        top: 0px;
        left: 0px;
        min-height: 130px;
        max-width: 650px;
    }
    .footer{
        min-height: 70px;
        &__inner{
            padding: 30px 0px 30px 40px;
        }
        &__img-link{
            height: 30px;
            width: 30px;
        }
        &__text{
            margin-left: 100px;
            font-size: 16px;
        }
    }
}

@media (max-width: 550px){
    .inf{
        margin-left: 30px;
        &__minititle{
            font-size: 16px;
        }
        &__text{
            font-size: 12px;
        }
    }
}

@media (max-width: 500px){
    .header__menu{
        li{
            a{
                font-size: 13px;
            }
        }
    }
    .main{
        padding-top: 40px;
        &__content{
            margin-left: 30px;
            padding-right: 30px;
            &-text{
                font-size: 11px;
            }
        }
        &__img{
            max-width: 500px;
            width: 100%;
        }
        &__leftbox{
            display: none;
        }
    }
    .footer{
        &__img{
            &-link{
                height: 30px;
                width: 30px;
            }    
        }
        &__text{
            font-size: 12px;
            margin-left: 100px;
        }
        &__inner{
            padding-left: 30px;
        }
    }
    .inf__left{
        max-width: 150px;
        
    }

    .contact{
        &__info{
            margin-right: auto;
            margin-left: 30px;
            padding-bottom: 30px;
            font-size: 14px;
        }
        &__messagebox{
            font-size: 14px;
            margin-right: auto;
            margin-left: 30px;
            button{
                font-size: 14px;
                border-radius: 2px;
            }
        }
        &__title{
            font-size: 14px;
        }
        &__text{
            font-size: 14px;
        }
    }

    .adress{
        padding-top: 10px;
    }
}



@media (max-width: 450px){
    .portfolio{
        &__item{
            margin-right: 10px;
            &-img{
                height: 100px;
                width: 150px;
            }
            &-text{
                max-width: 150px;
            }
        } 
    }
    .footer{
        min-height: 50px;
    }
    .inf{
        margin-left: 30px;
        &__minititle{
            font-size: 14px;
        }
        &__text{
            font-size: 10px;
        }
    }

    .contact__messagebox{
        input{
            max-width: 200px;
        }
        textarea{
            max-width: 320px;
        }
    }
}

@media (max-width: 430px){
    .header__menu{
        li{
            &+li{
                margin-left: 10px;
            }
        }
    }
    .main{
        padding-top: 20px;
        &__img{
            //display: none;
            top:0px;
            left:0px;
            min-height: 130px;
            max-width: 400px;
        }
        &__content{
            margin-left: 30px;
            margin-top: 150px;
            &-text{
                min-height: 150px;
                margin-top: 10px;
            }
            &-rezume{
                margin-bottom: 0px;
                margin-top: 0px;
            }
        }
    }
    .footer{
        &__inner{
            padding-left: 50px;
        }
    }
}

@media (max-width: 400px){
    
    .header__menu-btn{
        display: block;
        position: absolute;
        right: 0px;
    }
    .container{
        padding: 0;
    }
    .header{
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        &__menu{
            width: 100%;
            position: relative;
            margin: 0px;
        }
        &__logo{
            margin-left: 0px;
        }
    }

    .header{
        max-width: 400px;
        
    }
    .header__menu ul{
        display: none;
        position: absolute;
        top:15px;
        right: 0px;
        margin-left: 0px;
        padding-left: 0px;
        z-index: 3;
        width: 100%;
        li{
            display: block;
            margin-left: 0px;
            background-color:#3F9AB7;
            width: 100%;
            &+li{
                //border-top: 1px solid #fff;
                margin-left: 0px;
                
            }
            a{
                color: #fff;
                font-weight: 500;
                padding: 6px 0px;
                display: block;
                outline: none;
                border-bottom: 1px solid #fff;
            }
        }
        text-align: center;
        
    }
    
    .main{
        padding-top: 30px;
        &__content{
            padding-top: 0px;
            &-rezume{
                font-size: 12px;
                line-height: 15px;
                padding-top: 10px;
                height: 35px;
                width: 100px;
                margin-bottom: 10px;
            }
        }
        

    }
    .footer{
        min-height: 50px;
        &__inner{
            padding: 25px 0px 25px 10px;
            
        }
    }

    .portfolio{
        &__itembox{
            margin: 30px 30px;
         }
    }
    .portfolio{
        &__item{
            margin-left: 25px;
            &-img{
                height: 160px;
                width: 240px;
            }
            &-text{
                max-width: 240px;
            }
        } 
    }
    .inf__left{
        max-width: 110px;
    }
    .inf{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 350px){
    .contact{
        &__messagebox{
            font-size: 12px;
            button{
                font-size: 12px;
            }
            input{
                max-width: 150px;
            }
            textarea{
                max-width: 280px;
            }
        }
        &__text{
            font-size: 12px;
        }
        &__title{
            font-size: 12px;
        }
        &__info{
            font-size: 12px;
        }
    }
    
}